<section class="field">




  <div class="card-stack">
    <img *ngFor="let c of [0,1,2,3]; let i = index" [ngStyle]="{ right: (i * 5) + 'px' }"
      src="/assets/img/cards/card_cover.png" alt="Card Cover">
    <img (click)="takeCard()" class="top-card" style="right: 25px;"
      src="/assets/img/cards/card_cover.png" alt="Card Cover">
    <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;"
      src="/assets/img/cards/ace_1.png" alt="ace 1">
  </div>
</section>