.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/board3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  width: 200px; 
  height: 300px;
  img {
    position: absolute;
    top: 0;
    transition: 0.2s;
    width: 150px;
  }
}
