.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/board3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  width: 200px;
  height: 300px;

  img {
    position: absolute;
    top: 0;
    width: 150px;
  }
}

/* Karten im Stapel */
.stack-card {
  pointer-events: none; /* damit sie nicht anklickbar sind */
}

/* Oberste Karte – die anklickbare */
.top-card {
  cursor: pointer;
  transition: transform 150ms ease-in-out;
  right: 25px; /* neue Position hier */
  z-index: 10;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.played-card {
  position: absolute;
  right: 25px;
  transform: scale(1.2) translate(140px, -230px) rotate(10deg);
}

.played-card:nth-child(1) {
  transform: scale(1.2) translate(140px, -230px) rotate(8deg);
}
.played-card:nth-child(2) {
  transform: scale(1.2) translate(142px, -232px) rotate(12deg);
}

/* Animierte Karte */
.pick-card {
  right: 25px;
  z-index: 20;
  animation: pick-card-animation 1s ease-in-out forwards;
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1) translate(0, 0);
  }
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2) translate(140px, -230px) rotate(10deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
}
.add-player-button {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.game-info-wrapper {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 10;
}
