<section class="field">
  <div class="card-stack">
    
    <!-- Karten im Stapel -->
    <img 
      *ngFor="let c of [0,1,2,3,4]; let i = index"
      class="stack-card"
      [style.right.px]="i * 5"
      src="assets/img/cards/card_cover.png"
      alt="Card Cover"
    />

    <!-- Obere Karte / zum Ziehen -->
    <img
      (click)="takeCard()"
      class="top-card"
      src="assets/img/cards/card_cover.png"
      alt="Top Card"
    />

    <!-- Animierte Karte beim Ziehen -->
    <img
      *ngIf="pickCardAnimation"
      class="pick-card"
      src="assets/img/cards/{{ currentCard }}.png"
      alt="Ace"
    />
  </div>
</section>
