.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/board3.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  width: 200px; 
  height: 300px;
  img {
    position: absolute;
    top: 0;
    transition: 0.2s;
    width: 150px;
  }
}

.top-card {
  cursor: pointer;

  transition: all 125ms ease-in-out;


  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.pick-card {
  transition: all 125ms ease-in-out;
  transform: scale(1.5) !important; 
  //animation: pickCardAnim 0.5s forwards;
}